---
import ButtonGroup from "./ButtonGroup.astro";
import { Image } from "astro:assets";
import Button from "./Button.astro";



interface Props {
  projectTitle: string;
  body: string;
  href: string;
  type?: string;
  repo?: string;
  external?: boolean;
  featuredImage: string;
}

const { href, projectTitle, body, type, repo, featuredImage } = Astro.props;


let imagePath = `/images/${featuredImage}`;



---

<div
class="bg-gray-50 dark:bg-gray-900 border border-gray-200 shadow-lg dark:border-gray-700 rounded-lg"
>
<a href={href}>

<img src={imagePath} alt={projectTitle} class="w-full  object-cover rounded-t-lg" />


  <div class="px-8 py-8">
    <!-- {
      type && (
        <span class="bg-primary text-white text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-100 mb-2">
          {type}
        </span>
      )
    } -->
    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">
      {projectTitle}
    </h2>
    <p class="text-lg font-normal text-gray-700 dark:text-gray-400 mb-4">
      {body}
    </p>
    <div class="flex justify-center mt-10">
      <Button text="Read more" href={href} />
      </div>
    </div>
  </a>
</div>
