---
const AstroNamespace = Astro as any;

// interface Props {
//   content: Astro.AstroMarkdownContent;
// }

// const props = (Astro as any).props as Props;
const props = AstroNamespace.props;
const { content } = props;

import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

import data from "../data/site.json";
console.log(content.title);
const imgPath = `/images/${content.image}`;
console.log(imgPath);
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content={data.siteDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css"
    />
    <title>{content.title}</title>
    <script is:inline>
      //check for dark mode in local storage using the theme var
      if (localStorage.getItem("theme") === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body>
    <div class="bg-stone-100 dark:bg-slate-800 min-h-screen">
      <Nav />
      <div class="flex justify-center mx-4">
        <section class="section max-w-4xl">
          <h1 class="text-4xl font-bold mb-5 text-gray-900 dark:text-white">
            {content.title}
          </h1>
          <img
            src={imgPath}
            alt="featured image"
            class="w-36 rounded-lg pb-10"
          />
          <main class="pb-10">
            <container class="markdown">
              <div
                class="prose dark:prose-invert
                prose-h1:font-bold prose-h1:text-2xl
                prose-h2:font-bold prose-h2:text-xl
                prose-a:text-red-800 dark:prose-a:text-white
                prose-p:text-justify prose-img:rounded-xl
                prose-img:shadow-xl prose-img:my-10 prose-img:mx-auto prose-img:pb-10
                prose-img:max-w-full prose-img:h-auto"
              >
                <slot />
              </div>
            </container>
          </main>
        </section>
      </div>
      <Footer />
    </div>
    <style>
      .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 1rem;
      }
      .section {
        padding: 60px 0;
      }
      #footer {
        position: fixed;
      }

      @media (max-width: 767px) {
        main {
          min-height: calc(100vh - 69px);
        }
        footer > ul > li {
          display: none;
        }
        footer {
          position: relative;
        }
      }
    </style>

    <style is:inline>
      pre {
        font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
          "Lucida Sans Typewriter", "DejaVu Sans Mono",
          "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
          "Courier New", Courier, monospace;
        overflow-x: auto;
        border-radius: 0.25rem;
        padding: 1rem;
        overflow: scroll;
        /* white-space: pre-wrap; */
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
      }

      @media screen and (max-width: 480px) {
        pre {
          white-space: normal;
          padding: 0.5rem;
        }
      }
    </style>
  </body>
</html>
